@namespace html url("http://www.w3.org/1999/xhtml");
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 12px;
	}
	h3 {
		font-size: 10px;
	}
	p {
		margin: 0px 0px 8px 0px;
	}
	th, td {
		text-align: left;
		vertical-align: top;
	}
	span.button {
		font-weight: bold;
		padding: 2px 4px;
		border: 1px solid #B1B1B1;
		box-shadow: inset -1px 1px 1px #EEEEEE;
		border-radius: 2px 2px 2px 2px;
		background-color: white;
		background: linear-gradient(to bottom,#DDDDDD,#BDBDBD);
	}
	span.link {
		font-weight: bold;
		padding: 2px 4px;
		border: 1px rgb(128,128,128);
		border-style: none none dotted none;
		background-color: white;
	}

	tabpanels#info-panels>tabpanel>table {
		float: left;
	}
